<button type="button" class="btn" (click)="correctionDisplay1('AC')">AC</button>
<button type="button" class="btn" (click)="correctionDisplay1('C')">C</button>
<button type="button" class="btn" (click)="correctionDisplay1('B')">←</button>
<button type="button" class="btn" id="divide" (click)="addDisplay1('÷')">{{ divideModeDisplay }}</button> 

<button type="button" class="btn" (click)="addDisplay1('7')">7</button>
<button type="button" class="btn" (click)="addDisplay1('8')">8</button>
<button type="button" class="btn" (click)="addDisplay1('9')">9</button>
<button type="button" class="btn" (click)="addDisplay1('×')" id="multiply">×</button>

<button type="button" class="btn" (click)="addDisplay1('4')">4</button>
<button type="button" class="btn" (click)="addDisplay1('5')">5</button>
<button type="button" class="btn" (click)="addDisplay1('6')">6</button>
<button type="button" class="btn" (click)="addDisplay1('-')" id="substract">-</button>

<button type="button" class="btn" (click)="addDisplay1('1')">1</button>
<button type="button" class="btn" (click)="addDisplay1('2')">2</button>
<button type="button" class="btn" (click)="addDisplay1('3')">3</button>
<button type="button" class="btn" (click)="addDisplay1('+')" id="add">+</button>

<button type="button" class="btn" (click)="addDisplay1('ANS')">ANS</button>
<button type="button" class="btn" (click)="addDisplay1('0')">0</button>
<button type="button" class="btn" (click)="addDisplay1('.')">.</button>
<button type="button" class="btn" (click)="computeAnswer()" id="answer">=</button>
 
