#border{
    border-width: 10px;
    border-color: #c73030;
}

#background50percGreen50percWhite {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #3fc6ab; 
    
}

.backgroundwhite {
    background-color: white;
    box-shadow: 5px 10px 18px #0000002c;
    
}

.topspace{
    margin-top: 50px;
}

.nopadding {
    padding: 0 ;
    margin: 0 ;
 }