<div class="container" id="background50"></div>
<div id="topspace"></div>
<div class="container">
  <div class="row">
      <div class="col-md-4 nopadding">  
      </div>
      <div class="col-md-4 nopadding" id="backgroundwhite">
          <app-settings
          (onDivideModeSwitch)="onDivideModeSwitch()"
          ></app-settings>
          <app-screen 
            #screen
            [display1Text]="display1Text"
            [display2Text]="display2Text"
          ></app-screen>
        <app-keyboard 
          [divideMode]="divideMode"
          (onAdd2Display1)="onAdd2Display1($event)"
          (onCorrection2Display1)="onCorrection2Display1($event)"
          (onComputingAnswer)="onComputingAnswer()"
        ></app-keyboard>
      </div>
      <div class="col-md-4 nopadding"> 
      </div>
   </div>
</div>
