<div id="background50percGreen50percWhite"></div>
<div class="container topspace">
  <div class="row">
      <div class="col-md-4 nopadding">  
      </div>
      <div class="col-md-4 nopadding backgroundwhite">
        <app-settings
          (onDivideModeSwitch)="onDivideModeSwitch()"
        ></app-settings>
        <app-screen 
          #screen
          [displayTopText]="displayTopText"
          [displayBottomText]="displayBottomText"
        ></app-screen>
        <app-keyboard 
          [divideMode]="divideMode"
          (onAdd2DisplayTop)="onAdd2DisplayTop($event)"
          (onCorrection2DisplayTop)="onCorrection2DisplayTop($event)"
          (onComputingAnswer)="onComputingAnswer()"
        ></app-keyboard>
      </div>
      <div class="col-md-4 nopadding"> 
      </div>
   </div>
</div>
